{% extends "base.html.twig" %}

{% block title %}Ajouter un étudiant
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow">
				<div class="card-header bg-primary text-white">
					<h4 class="mb-0">Nouvel étudiant</h4>
				</div>
				<div class="card-body">
					<form action="/ajout-etudiant" method="POST">

						<div class="mb-3">
							<label for="prenom" class="form-label">Prénom</label>
							<input type="text" class="form-control" id="prenom" name="prenom" placeholder="Ex: Tonio" value="{{ prenom }}" required>
						</div>

						<div class="mb-3">
							<label for="nom" class="form-label">Nom</label>
							<input type="text" class="form-control" id="nom" name="nom" placeholder="Ex: Mantana" value="{{ nom }}" required>
						</div>

						<div class="mb-3">
							<label for="mail" class="form-label">Adresse Mail</label>
							<input type="email" class="form-control" id="mail" name="mail" placeholder="jean.dupont@viacesi.fr" value="{{ mail }}" required>
						</div>

						<div class="mb-3">
							<label for="campus" class="form-label">Campus</label>
							<select class="form-control" id="campus" name="campus" required>
								<option value="">Choisir un campus...</option>
								<option value="Aix‑en‑Provence">Aix‑en‑Provence</option>
								<option value="Angoulême">Angoulême</option>
								<option value="Arras">Arras</option>
								<option value="Bordeaux">Bordeaux</option>
								<option value="Brest">Brest</option>
								<option value="Caen">Caen</option>
								<option value="Dijon">Dijon</option>
								<option value="Grenoble">Grenoble</option>
								<option value="La Rochelle">La Rochelle</option>
								<option value="Le Mans">Le Mans</option>
								<option value="Lille">Lille</option>
								<option value="Lyon">Lyon</option>
								<option value="Montpellier">Montpellier</option>
								<option value="Nancy">Nancy</option>
								<option value="Nantes">Nantes</option>
								<option value="Nice">Nice</option>
								<option value="Orléans">Orléans</option>
								<option value="Paris">Paris</option>
								<option value="Pau">Pau</option>
								<option value="Reims">Reims</option>
								<option value="Rouen">Rouen</option>
								<option value="Saint‑Nazaire">Saint‑Nazaire</option>
								<option value="Strasbourg">Strasbourg</option>
								<option value="Toulouse">Toulouse</option>
								<option value="Tours">Tours</option>
							</select>
						</div>

						<div class="mb-3">
							<label for="promo" class="form-label">Promotion</label>
							<input type="text" class="form-control" id="promo" name="promo" placeholder="Ex: 2026-2027..." pattern="[0-9]{4}-[0-9]{4}" value="{{ promo }}" required>
						</div>

						<hr>

						<div class="d-flex justify-content-between">
							<a href="/entreprises" class="btn btn-light">Annuler</a>
							<button type="submit" class="btn btn-success">Enregistrer</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	{% if success %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			L'étudiant a été ajoutée avec succès !
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endif %}

{% endblock %}
