<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/style-Accueil.css">
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	</head>

	<title>
		{% block title %}StageHub
		{% endblock %}
	</title>
</html>
<html lang="fr">

	<body class="bg-light" style="font-family: Inter;">

		<header class="header d-flex justify-content-start align-items-center gap-4">

			<img src="/assets/images/logo.png" alt="StageHub" style="height:100px;">

			<nav class="d-flex justify-content-center align-items-start gap-4 list-unstyled fs-5">
				<a class="text-decoration-none text-dark" href="/accueil-co">
					<li>Page d'accueil</li>
				</a>
				<li class="Rechercher dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Rechercher
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="/offres">Offres</a>
						</li>
						<li>
							<a class="dropdown-item" href="/entreprises">Entreprises</a>
						</li>
					</ul>
				</li>
			</nav>

			<div class="d-flex justify-content-end align-items-center ms-auto gap-0">
				<a href="/wishlist">
					<svg class="Wishlist" height="45" fill="none" stroke="black" stroke-width="30" viewbox="0 0 512 512" aria-label="Wishlist" role="button" xmlns="http://www.w3.org/2000/svg">
						<path d="M256 472
						                                    C256 472 40 312 40 160
						                                    C40 72 104 32 168 32
						                                    C216 32 256 80 256 80
						                                    C256 80 296 32 344 32
						                                    C408 32 472 72 472 160
						                                    C472 312 256 472 256 472 Z"/>
					</svg>
				</a>

				<a href="/candidatures">
					<svg class="Candidatures me-5" height="50" fill="none" stroke="black" stroke-width="30" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
						<path d="M160 64 H352 L416 128 V448 H160 Z
						                                     M352 64 V128 H416
						                                     M112 96 L208 288 L176 320 L80 128 Z"/>
					</svg>
				</a>
				<a href="" class="d-flex align-items-center text-center text-dark text-decoration-none" id="Profildéroulant" data-bs-toggle="dropdown" aria-expanded="false">
					<svg class="Profil me-5" height="58" stroke="black" stroke-width="35" viewbox="0 0 512 512" aria-label="Profil" xmlns="http://www.w3.org/2000/svg">
						<circle cx="256" cy="160" r="96"/>
						<path d="M96 416
						                                      C96 336 176 304 256 304
						                                      C336 304 416 336 416 416"/>
					</svg>
				</a>


				<ul class="dropdown-menu">
					<li class="text-center fw-bold border-bottom border-dark px-2">Nom Prénom</li>
					<li>
						<a class="dropdown-item text-center text-danger fw-bold" href="{{ url_for('deconnexion') }}">
							Me déconnecter
						</a>
					</li>
				</ul>
			</div>
		</header>
		{% block content %}{% endblock %}
		<footer id="footer" class="text-center">
			{% block footer %}
				&copy; Copyright 2011 by
				<a href="https://example.com/">you</a>.
			{% endblock %}
		</footer>
	</body>
</html>
