{% extends "base.html.twig" %}

{% block title %}Pas de candidature{% endblock %}

{% block content %}

<h1 class="mt-3 fw-bold text-center" style="font-size: 50px;">Mes candidatures</h1> 

 <hr class="border border-dark opacity-100">

 <h2 class="d-flex justify-content-center align-items-center text-secondary" style="height: 300px;">Aucune candidature en cours...</h2>

 <a class="text-decoration-none" href="Offres.html.twig">
   <button class="border border-dark border-3 rounded-pill px-1 py-3 fw-bold bg-success w-50 mx-auto d-block mt-0" type="button">
        <span class="fs-4">Rechercher un stage</span>
        <span class="fs-4">→</span>
    </button>
    </a>

</body>
</html>

{% endblock %}