{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/style-connexion.css">
{% endblock %}

{% block content %}

    <section>
        <h1>Connexion</h1>
        <form method="POST" action="/connexion">
            <div class="input-box">
                <input type="text" placeholder="Identifiant">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Mot de passe">
            </div>
            <div >
                <a class="oublie" href=""> Mot de passe oublié ?</a>
            </div>

        <button class="connect">Se connecter</button>
        </form>
    </section>


{% endblock %}