
{% block title %}Connexion{% endblock %}

{% block content %}

<body style="font-family: Inter; height:100vh" class="align-items-center justify-content-center d-flex">
    <section class="border border-success border-3 rounded-2 px-5 py-3 w-50">
        <h1 class="text-center fs-1  mb-4 fw-bold" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Connexion</h1>

        <div class="input-box position-relative mb-4">
            <input type="text" placeholder="Identifiant" class="border border-dark border-2 form-control rounded-pill px-3 py-2">
        </div>
        <div class="input-box position-relative mb-4">
            <input type="password" placeholder="Mot de passe" class="border border-dark border-2 form-control rounded-pill px-3 py-2">
        </div>
        <div >
            <a class="d-flex text-dark justify-content-start mb-4 text-decoration-none" href=""> Mot de passe oublié ?</a>
        </div>

        <button class="form-control rounded-pill px-4 py-2 bg-success w-25" href="Accueil-co.html.twig">Se connecter</button>
    </section>
</body>


{% endblock %}