{% extends "base.html.twig" %}

{% block title %}Liste des Etudiants {% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Liste des Entreprises</h1>
    <a class="btn btn-primary" href="{{ url_for('ajout-entreprise') }}">Ajouter une entreprise</a>
</div>

todo list Etudiant

id

prenom

nom

mail

campus

promo

{% endblock %}