{% extends "base.html.twig" %}

{% block title %}Pas de favoris{% endblock %}

{% block content %}

<body style="font-family: Inter;">

<h1 class="mt-3 fw-bold text-center" style="font-size: 50px;">Wish List !</h1>
<hr class="border border-dark opacity-100">
    
<img src="assets/image/NoWishList.png" alt="Aucune wishlist" class="mx-auto d-block mt-4" style="width: 200px;">

<p class="text-center fs-3">Aucune offre n'a été mise en favoris</p>

<a class="text-decoration-none" href="Offres.html.twig">
   <button class="border border-dark border-3 rounded-pill px-1 py-3 fw-bold bg-success w-50 mx-auto d-block mt-5 h-25" type="button">
        <span class="fs-4">Rechercher un stage</span>
        <span class="fs-4">→</span>
    </button>
    </a>

</body>

{% endblock %}