{% extends "layouts/base.html.twig" %}

{% block title %}Pas de candidature{% endblock %}

{% block content %}

<h1 class="mt-3 fw-bold text-center fs-3 fs-md-2">Mes candidatures</h1> 

<hr class="border border-dark opacity-100">

<div class="d-flex flex-column align-items-center justify-content-center py-5">
	<h2 class="text-secondary text-center mb-5 fs-5">Aucune candidature en cours...</h2>
	<a href="/offres" class="btn btn-success rounded-pill px-4 py-2">
		<span>Rechercher un stage</span>
		<span>→</span>
	</a>
</div>

{% endblock %}