@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);


body{
    margin: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat';
    
}

/*haut de la page*/
section.top {
    background: url(../images/bg.jpg);
    height: 80vh;
    background-size: cover;
    
}



.logo {
    width : 130px;
}

.titre {
    color : white;
    font-size: 100px;
}
/* menu de navigation*/
nav.nav {
    display: flex;
    list-style: none;
    margin-left: 30px;

    width: auto;
    justify-content: space-between;
    
}

header.header {
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid #8FB4B0;

}

nav.nav li {
    color: black;
    white-space: normal;
    text-align: center;
    width: 150px;;
}

.Icônes {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0px;
}

.Icônes img {
     height: auto;
     width: 30px;
     flex-shrink: 1;
     min-width: 20px;
     gap: 0px;
}

.Wishlist {
  width: 45px;
  height: auto;

  fill: none;
  stroke: black;
  stroke-width: 20;
  stroke-linejoin: round;

  cursor: pointer;
  transition: transform 0.2s ease,
              fill 0.25s ease,
              stroke 0.25s ease;
}

.Wishlist:hover {
  fill: #ff5a7a;
  stroke: #ff5a7a;
  transform: scale(1.15);
}

.Wishlist:active {
  transform: scale(0.95);
}

.Candidatures {
  width: 50px;
  height: auto;
  margin-right: 30px;

  fill: none;
  stroke: black;
  stroke-width: 20;
  stroke-linejoin: round;

  cursor: pointer;
  transition: transform 0.2s ease,
              fill 0.25s ease,
              stroke 0.25s ease;
}

.Candidatures:hover {
  fill: #697E50;
  stroke: #697E50;
  transform: scale(1.15);
}

.Candidatures:active {
  transform: scale(0.95);
}

.Profil {
  width: 50px;
  height: auto;
  margin-right: 50px;


  fill: none;
  stroke: black;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.wishlist-title {
  font-size: 3rem;        
  font-weight: bold;
  margin: 20px 0 10px 190px; /* haut | droite | bas | gauche */
  text-decoration: underline;
}

.wishlist-content{
  min-height: calc(100h - 100px); 
  display: flex;
  justify-content: center;  
  align-items: center;    
}

.no-wishlist-icon{
  display: block;
  max-width: 200px;  
  width: 50%;
  height: auto;
}

.aucuneoffre {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 30px;
}

.search-stage-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 420px;
  padding: 14px 22px;

  background-color: #8FB4B0;   /* intérieur */
  border: 2px solid #586071;   /* bordure */
  border-radius: 16px;

  font-size: 1.1rem;
  color: #000;

  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/* flèche */
.search-stage-btn .arrow {
  font-size: 1.4rem;
}

/* hover (léger) */
.search-stage-btn:hover {
  background-color: #7fa6a2; /* un peu plus foncé */
  transform: scale(1.03);
}

/* active */
.search-stage-btn:active {
  transform: scale(0.97);
}
/* responsive */
@media (max-width: 480px) {
  .search-stage-btn {
    width: 90%;
  }
}

.wishlist-empty {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement */
}

.center-page {
  min-height: calc(100vh - 500px); /* hauteur écran - header - titre */
  display: flex;
  justify-content: center;  /* centre horizontalement */
  align-items: center;      /* centre verticalement */
}