@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

body{
    margin: 0 auto;
    
}

* {
    font-family: 'Montserrat';
    
}

/*haut de la page*/
section.top {
    background: url(../images/bg.jpg);
    height: 80vh;
    background-size: cover;
    
}


header.header img{
    width: 150px;
}

.titre {
    color : white;
    font-size: 100px;
}
/* menu de navigation*/
nav.nav {
    display: flex;
    list-style: none;
    margin-left: 30px;
    width: 600px;
    justify-content: space-between;
    
}

header.header {
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid #8FB4B0;

}

nav.nav li {
    color: black;
    white-space: normal;
    text-align: center;
    width: 150px;;
}

.Icônes {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* bouton connexion */

.connexion {
    margin-left: auto;
    margin-right: 80px;
    text-decoration: none;
    color: black;
    border: 3px solid #8FB4B0;
    padding: 10px 20px;    /*Ajoute de l’espace à l’intérieur du bouton.*/
    border-radius: 25px;   /*Arrondit les coins*/
    font-weight: 500;
    background-color: #8FB4B0;
}

.connexion:hover {
    background-color: #C7E7DE;
    border-color: #C7E7DE;
}